.list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.item {
  padding: 15px 25px;
  font-size: 20px;
  text-decoration: none;
  background-color: #1976d2;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item.focus {
  background-color: #1565c0;
}

.listGuest {
  display: flex;
  justify-content: space-evenly;
}
